# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
Temp
Test
Game
Source/VS2010/ipch
Source/VS2010/Geordi.suo
*.opensdf
*.sdf
*.oct
