# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio
Temp
Test
Game/Build
Game/Octree
Source/VS2010/ipch
Source/VS2010/Geordi.suo
*.opensdf
*.sdf
*.oct
Docs/~*
Game/LostIsland.log
Game/LostIsland.log
*.log
